name: SemverChecks

# Run only on pull requests (or if triggered manually)
on: [pull_request, workflow_dispatch]

env:
  CARGO_TERM_COLOR: always

jobs:
  semver_checks:
    name: Check SemVer Correctness
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Ensure that the main branch is fetched
        run: git fetch origin main:main
      - name: Set up Rust
        run: |
          rustup toolchain install $(awk -F'"' '/channel/{print $2}' rust-toolchain.toml) --profile minimal --no-self-update
      - name: Set up cargo-semver-checks
        run: |
          curl -L --proto '=https' --tlsv1.2 -sSf https://github.com/obi1kenobi/cargo-semver-checks/releases/latest/download/cargo-semver-checks-x86_64-unknown-linux-gnu.tar.gz | tar xzvf -
          mv cargo-semver-checks ~/.cargo/bin
      - name: Check semver match against the main branch
        id: semver_check
        run: |
          # TODO(jayb): we are temporarily preventing a failure in semver-checks
          # from showing up as a `X`, but instead triggering a comment on the
          # PR. Once things go public, we will likely switch this out to make it
          # actually complain as usual, essentially backing out the commit that
          # introduced this comment.
          if cargo semver-checks --baseline-rev main; then
            echo "Semver check succeeded."
            echo "reaction=hooray" >> "$GITHUB_OUTPUT"
          else
            echo "Semver check failed."
            echo "reaction=eyes" >> "$GITHUB_OUTPUT"
          fi
      - name: React to the PR based on semver-checks
        if: ${{ github.event.pull_request }}
        run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{ github.repository_owner }}/${{ github.event.repository.name }}/issues/${{ github.event.number }}/reactions \
          -d '{"content":"${{ steps.semver_check.outputs.reaction }}"}'
